.catproduct-container {
  padding: 20px;

  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .main-title {
      font-size: 6rem;
      color: #222a63;
      font-weight: bold;
    }

    .sub-title {
      font-size: 4rem;
      color: #4c4c4c;
      font-weight: bold;
    }

    .cover-image {
      width: 50vw;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  .sort-product {
    width: 20%;
    margin-left: auto;
    text-align: right;
    padding: 20px;

    .sort-select {
      width: 180px;
    }
  }
}
