.contact-hero {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://png.pngtree.com/background/20230611/original/pngtree-cat-with-a-dog-in-a-dark-room-picture-image_3153708.jpg');
    background-color: rgba(0, 0, 0, 0.5); /* Add this line to darken the background */
}

.contact-hero-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}