.orderContainer {
  border: 2px solid #e2e2e2;
  border-top-width: 0;
}

.order {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.orderContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e2e2e2;
  font-weight: bold;
}

.productHeader,
.tempTotalHeader {
  color: #555;
}

.orderItems {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #e2e2e2;
}

.leftContent {
  display: flex;
  align-items: center;
}

.quantityBadge {
  background-color: #2a9dcc;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: #fff;
  font-size: 0.875rem;
}

.description {
  display: flex;
  align-items: center;
}

.image img {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
}

.name {
  font-size: 1rem;
  color: #333;
}

.rightContent {
  display: flex;
  align-items: center;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}

.divider {
  margin-top: 1rem;
  border-top: 1px solid #e2e2e2;
}

.footer {
  margin-top: 1rem;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.footerTitle {
  font-weight: bold;
  color: #333;
}

.footerValue {
  font-weight: bold;
  color: #555;
}
