.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-top: 1rem;
  .title-name {
    font-size: 20px;
    font-weight: 700;
  }
  .add-btn {
    background: transparent;
    border-color: #273172;
    background-image: linear-gradient(80deg, #3d51ac 0%, #2475fb 100%);
    border-radius: 90px 90px 90px 90px;
    box-shadow: 10px 15px 30px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 1px solid #555554;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding: 0.3rem;
    margin-right: 1rem;
  }
}
.container {
  .add-modal-frame {
    .add-modal-container {
      .contact-form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;

        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          label {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;

            .required {
              color: red;
            }
          }

          input,
          textarea {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:focus {
              outline: none;
              border-color: #49b3f4;
            }
          }

          textarea {
            height: 100px;
          }
          .file {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            .btn-file {
              margin-right: 5rem;
              background: transparent;
              border-color: #273172;
              background-image: linear-gradient(80deg, #3d51ac 0%, #2475fb 100%);
              border-radius: 90px 90px 90px 90px;
              box-shadow: 10px 15px 30px 0px rgba(0, 0, 0, 0.15);
              text-align: center;
              border: 1px solid #555554;
              border-radius: 5px;
              font-weight: 700;
              color: white;
              padding: 0.3rem;
            }
          }
        }
        select {
          width: 100%;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        .submit {
          display: flex;
          align-items: center;
          justify-content: center;
          .submit-btn {
            padding: 10px 20px;
            background-color: #1e90ff;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              background-color: black;
            }
          }
        }
      }
    }
  }
}
