.product-detail {
  background-color: #f9f6f6;
  padding: 20px;
  margin: 6rem;

  .loading,
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #333;
  }

  .product-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .product-image {
      width: 100%;
      max-width: 400px;
      border-radius: 8px;
      border: 1px solid #ddd;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .product-info {
      flex: 1;

      .product-tabs {
        margin-bottom: 20px;
      }

      .product-name {
        font-size: 2rem;
        color: #273172;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .product-price {
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #333;
      }

      .product-availability {
        font-size: 1rem;
        margin-bottom: 20px;
        color: #555;

        .availability-count {
          color: #77a464;
          font-weight: bold;
        }
      }

      .quantity-container {
        display: flex;
        gap: 10px;
        align-items: center;

        .quantity-input {
          width: 80px;
        }

        .add-to-cart-btn {
          padding: 10px 20px;
          background-color: #273172;
          color: #fff;
          border-radius: 999px;

          &:hover {
            background-color: #1b2555;
          }
        }
      }

      .description-title {
        font-size: 1.5rem;
        color: #273172;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #333;
        line-height: 1.5;
      }
    }
  }
}
